<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #boardItem{
            border: 1px solid;
        }
        #boardItem #boardTitle{
            font-size: 30px;
        }
        #boardItem #boardInfomation{
            height: 30px;
        }
        #boardItem #infomationLeft{
            float: left;
        }
        #boardItem #infomationRight{
            float: right;
        }
        #boardItem #boardContent{
            min-height: 300px;
        }
    </style>
</head>
<body>
    <div id="boardItem">
        <div id="boardTitle">
            제목
        </div>
        <div id="boardInfomation">
            <div id="infomationLeft">
                닉네임 | 2000-01-01
            </div>
            <div id="infomationRight">
                조회수 0 | 추천수 0 | 댓글수 0
            </div>
        </div>
        <hr>

        <div id="boardContent">
            본문내용
        </div>
    </div>
</body>
</html>