
        #boardList .sub_news,.sub_news th,.sub_news td{border:0}
        #boardList .sub_news a{color:#383838;text-decoration:none}
        #boardList .sub_news{width:100%;border-bottom:1px solid #999;color:#666;font-size:12px;table-layout:fixed}
        #boardList .sub_news caption{display:none}
        #boardList .sub_news th{padding:5px 0 6px;border-top:solid 1px #999;border-bottom:solid 1px #b2b2b2;background-color:#e4e4e4;color:#333;font-weight:bold;line-height:20px;vertical-align:top}
        #boardList .sub_news td{padding:8px 0 9px;border-bottom:solid 1px #d2d2d2;text-align:center;line-height:18px;}
        #boardList .sub_news .date,.sub_news .hit{padding:0;font-family:Tahoma;font-size:11px;line-height:normal}
        #boardList .sub_news .title{text-align:left; padding-left:15px; font-size:13px;}
        #boardList .sub_news .title .pic,.sub_news .title .new{margin:0 0 2px;vertical-align:middle}
        #boardList .sub_news .title a.comment{padding:0;background:none;color:#f00;font-size:12px;font-weight:bold}
        #boardList .sub_news tr.reply .title a{padding-left:16px;background:url(ì²¨ë¶íì¼/ic_reply.png) 0 1px no-repeat}
        #boardList  table {
  border-collapse: collapse;
  border-spacing: 0;
}
#boardList section.notice {
  padding: 80px 0;
}

#boardList #board-search .search-window {
  padding: 15px 0;
  background-color: #555556;
}
#boardList #board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
}
#boardList #board-search .search-window .search-wrap input {
  height: 40px;
  width: 78%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
  color:black;
}
#boardList #board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#boardList #board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
  border: 1px solid white;
  border-radius:10px;
}


#boardList .btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#boardList .btn-dark {
  background: #555;
  color: #fff;
}

#boardList .btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

#boardList .btn-dark {
  background: #555;
  color: #fff;
}

#boardList .btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

#boardList * {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color:white;
}

#boardList .blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}