        #changeBox{
            width: 187px;
            height: 245px;
            background-color: lightblue; 
        }
        #changeBox label{
            list-style: none;
            vertical-align: middle;
            font-size:medium;                
        }
        #changeBox input{
                height:19px;
                width: 177px;
        }      
        #changeBox #changeBtn{
            margin-left: 20%;
        }