        #fPwd{
        width : 300px;
        height: 210px;
        background-color: skyblue;
        }
        #fPwd #ptxt{
            font-size: 37px;
            font-weight: bold;
            text-align: center;
        }
        #fPwd label{
                padding:50px /*여백주기*/
        }
        #fPwd #mailtxt{
            margin-left: 50px;
        }
        #fPwd #pbtn{
            margin-left: 33.5%;
        }