.u-section-1 .u-sheet-1 {
  min-height: 941px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 56px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 72px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 23px;
}

.u-section-1 .u-form-1 {
  height: 68px;
  margin: -63px 21px 0 709px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 790px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-8aad-133 {
  height: 46px;
}

.u-section-1 .u-btn-2 {
  margin: 372px 51px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 59px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 530px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 310px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}