
        #gameContentFrame{
            width: 1000px;
        }
        #gameContentFrame #gameInfomation{
            height: 330px;
        }
        #gameContentFrame #gameVideo{
            float: left;
        }
        #gameContentFrame #gameIntroduction{
            float: right;
        }
        #gameContentFrame #payInfomation{
            height: 50px;
            color: white;
        }
        #gameContentFrame #gameContent{
        	color:white;
        }
        #gameContentFrame #gameName{
            float: left;
        }
        #gameContentFrame #gameprice{
            float: right;
        }
        #gameContentFrame  #btnPay button{
            width: 495px;
            height: 50px;
            font-size: 20px;
        }