
    #member{
      float: right;
      margin-top: 15px;
    }
    .member{
        border: 1px solid #c5c3c0;
        border-radius: 10px;
        text-align: center;
        display: inline;
        padding: 5px 10px;
    }
    #memberSignin{
        width: 60px;
    }
    #memberSignup{
        width: 80px;
    }
    .member a {
        text-decoration: none;
        color: #c5c3c0;
    }
    #member .member a:hover{
        color: white;
    }
    #member .a:hover + .member{
        border: 1px solid white;
    }