.u-section-1 .u-sheet-1 {
  min-height: 785px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 61px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 23px auto 0 23px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 50px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-2 {
  min-height: 32px;
  margin-top: -81px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 4px 169px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px 370px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0 34px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0 359px;
}

.u-section-1 .u-group-3 {
  min-height: 50px;
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-4 {
  min-height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-5 {
  min-height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-6 {
  min-height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-7 {
  min-height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-8 {
  min-height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-31 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-9 {
  min-height: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-36 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-37 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-group-10 {
  min-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.25rem;
  margin: 10px 1051px 0 33px;
}

.u-section-1 .u-text-39 {
  font-size: 1.25rem;
  margin: -24px 482px 0 106px;
}

.u-section-1 .u-text-40 {
  font-size: 1.25rem;
  margin: -24px 297px 0 710px;
}

.u-section-1 .u-text-41 {
  font-size: 1.25rem;
  margin: -24px 151px 0 894px;
}

.u-section-1 .u-btn-1 {
  margin: 51px 25px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 285px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 296px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-22 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-26 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-group-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-30 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-34 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 884px;
    margin-left: 46px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 382px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 197px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 51px;
    margin-left: 794px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 227px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 664px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 87px;
    margin-left: 500px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 625px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 445px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
    margin-left: 407px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 445px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 111px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 284px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 245px;
  }
}