        #joinBox{
            background-color: blanchedalmond;
            border-radius: 0.5px;
            border-color: blanchedalmond;
            width: 350px;
            height: 420px;
        }
        #joinBox #Jtxt{
            text-align: center;
            font-size: xx-large;
            font-weight: bold;   
        }
        #joinBox label{
            font-size: large;
            font-weight: bold;
        }
        #joinBox input{
            height: 21px;
        }
        #joinBox #joinBtn{
            margin-left: 105px;
            height: 35px;
            width: 120px;
        }