
        #subBar #search{
            width: 150px;
            height: 30px;
            padding: 0 10px;
            border-radius: 20px;
            background-color: white;
            margin: 10px;
        }
        #subBar #search input{
            height: 100%;
            border: none;
        }
        #subBar #search input::placeholder{
            font-size: 16px;
            opacity: 0.3;
        }
        
        #subBar{
            float:left;
            width: 190px;
            background-color: #555556; 
            font:bold 16px "malgun gothic";
            padding-left:20px;
        }
        #subBar ul{
            list-style:none;
            margin:0px; 
            padding:0px;
            position:relative;
            text-align:center;
            height: 300px;
            padding-left: 15px;
        margin-top:20px;
            
        }
        #subBar ul li a{
            text-decoration:none;
            display:block; 
            width:80px;
            height: 35px; 
            line-height:35px;
            color: #c5c3c0;
        }
        #subBar li{
            width:80px;
   
        }
        #subBar ul ul{
            display:none;
            position:absolute; 
            left: 70px; 
            margin-top: -30px;
        }
        #subBar ul li:hover > ul {
            display:block;
        }
        #subBar ul li a:hover{
            color: white;
        }
        
        #subBar ul li ul li a:hover{
            color: white;
            }